<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>



<body>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <button class="nav-link"  (click)="temperature()">Temperature</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" (click)="humidity()">Humidity</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" (click)="pressure()">Pressure</button>
  </li>
</ul>

<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Sun</h3>
          <p id="Value_L1">{{unit}}{{value1}}</p>

          <div class="progress" *ngIf="progessValue <= 15">
            <div id="lowProgressBar" class="bg-success
            progress-bar-striped active"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 [attr.aria-valuenow]="progessValue"
                 [style.width.%]="progessValue">
              {{progessValue}}°C
            </div>
          </div>

          <div class="progress" *ngIf="progessValue > 16 && progessValue <= 28">
            <div id="medProgressBar" class="bg-info
            progress-bar-striped active"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 [attr.aria-valuenow]="progessValue"
                 [style.width.%]="progessValue">
              {{progessValue}}°C
            </div>
          </div>

          <div class="progress" *ngIf="progessValue > 29">
            <div id="highProgressBar" class="bg-danger
            progress-bar-striped active"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 [attr.aria-valuenow]="progessValue"
                 [style.width.%]="progessValue">
              {{progessValue}}°C
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Mercury</h3>
          <p id="Value_L2">{{unit}}{{value2}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Venus</h3>
          <p id="Value_L3">Value</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Earth</h3>
          <p id="Value_L4">Value</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Mars</h3>
          <p id="Value_L5">Value</p>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-12 p-2"></div>
    <!-- row 2 -->
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Jupiter</h3>
          <p id="Value_L6">Value</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Saturn</h3>
          <p id="Value_L7">Value</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Uraus</h3>
          <p id="Value_L8">Value</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Neptune</h3>
          <p id="Value_L9">Value</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Pluto</h3>
          <p id="Value_L10">Value</p>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>
